name: Deploy Mosaic

on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Check trigger source
        run: echo "Triggered by ${{ github.event_name }} on branch ${{ github.ref_name }}"

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.EC2_SSH }}

      - name: Test SSH connection
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.EC2_PUBLIC_IP }} "echo Hello World"

      - name: Build Mosaic
        run: |
          dotnet build

      - name: Publish QuidditchTrip.API
        run: |
          dotnet publish Mosaic -c Release -r linux-x64 --self-contained true -o ./publish 

      - name: Deploy to EC2
        run: |
          rsync -avz --delete --exclude="mosaic.settings.development.json" ./publish/ ubuntu@${{ secrets.EC2_PUBLIC_IP }}:/srv/Mosaic/

      - name: Restart API
        run: |
          ssh ubuntu@${{ secrets.EC2_PUBLIC_IP }} "sudo systemctl restart Mosaic"

      - name: Restart Caddy
        run: |
          ssh ubuntu@${{ secrets.EC2_PUBLIC_IP }} "sudo systemctl restart caddy"
